<div class="heon-background-blue">
  <div class="container">
    <div class="columns text-white" style="padding: 10px;">
      <div class="column is-4">
        <p><strong> THE HEON PROJECT GRENADA </strong></p>
        <img src="img/heon-project-small-logo.png" width="80px" height="80px">
      </div>
      <div class="column is-4">
        <p><strong> CONTACT US </strong></p>
        <p>
          <i class="fab fa-wpforms"></i>
          <a href="/contact" style="color: #ffffff;">Contact Form</a>
        </p>
        <p>
          <i class="far fa-envelope"></i>
          heonprojectgrenada@email.com
        </p>
        <p>
          <i class="fab fa-instagram"></i>

          <a href="https://www.instagram.com/heonproject_grenada/?hl=en" style="color: #ffffff;">
            Instagram
          </a>
        </p>
        <p>
          <i class="fab fa-facebook"></i>
          <a href="https://www.facebook.com/heonprojectgrenada/" style="color: #ffffff;">
            Facebook
          </a>
        </p>
      </div>
      <div class="column is-4">
        <p>
          <strong> ABOUT US </strong>
        </p>
        <p>
          <u>
            <a href="/about" style="color: #ffffff;">About heon project grenada</a>
          </u>
        </p>
      </div>
    </div>
    <div class="spacer-x2"></div>
  </div>
</div>
