<div class="bg-grey-1">
  <div class="columns">
    <div class="column is-6 is-offset-3 dark-green-text">
      <div class="spacer is-hidden-touch"></div>
      <div class="article-section is-size-4 ">
        <div class="text-center is-size-4">
          <strong> {{.heading}} </strong>
        </div>
        <div class="text-center light-green-text">
          <i class="fas fa-university is-size-1"></i>
        </div>
        <div class="spacer"></div>
          {{.text}}
      </div>
      <div class="spacer"></div>
    </div>
  </div>
</div>
