<div class="bg-grey-1" style="z-index: 10; position: relative; box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;">
  <div class="columns">
    <div class="column is-6 is-offset-3 dark-blue-text">
      <div class="spacer is-hidden-touch"></div>
      <div class="article-section is-size-4 ">
        <div class="text-center is-size-4">
          <h1><strong> {{.heading}} </strong></h1>
        </div>
        <div class="text-center light-blue-text">
          <i class="fas fa-university is-size-1"></i>
        </div>
        <div class="spacer"></div>
          <p>{{.text}}</p>
      </div>
      <div class="spacer"></div>
    </div>
  </div>
</div>
