<div class="bg-grey-1" style="z-index: 10; position: relative;">
  <div class="columns">
    <div class="column is-6 is-offset-3 dark-blue-text">
      <div class="spacer"></div>
      <div class="text-center is-size-4">
        <strong> {{.heading}} </strong>
      </div>
      <div class="spacer"></div>
      <div class="text-center light-blue-text">
        <i class="fas fa-hand-holding-heart is-size-1"></i>
      </div>
      <div class="spacer"></div>
      <div class="article-section is-size-4 ">
        {{.text}}
      </div>
      <div class="spacer"></div>
      <div class="text-center">
        <a href="{{.buttonLink}}" class="button is-warning">
          <strong>{{.buttonText}}</strong></a>
      </div>
      <div class="spacer"></div>
    </div>
  </div>
</div>

<div class="heon-background-blue">
  <div class="container">
    <div class="columns">
      <div class="column text-white">
        <div class="spacer"></div>
        <div class="text-center is-size-4">
          <strong> SOCIAL MEDIA UPDATES </strong>
        </div>
        <div class="spacer"></div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-2 is-offset-4 is-size-1 text-white">
        <div class="is-flex-center">
          <a href="https://www.instagram.com/heonproject_grenada/?hl=en" style="color: #ffffff;">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="column is-2 is-size-1 text-white">
        <div class="is-flex-center">
          <a href="https://www.facebook.com/heonprojectgrenada/" style="color: #ffffff;">
            <i class="fab fa-facebook"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
  </div>
</div>


