<div class="section-blue text-white" style="z-index: 10; position: relative;">
  <div class="columns">
    <div class="column is-3 is-offset-3">
      <div class="spacer"></div>
      <div class="is-size-4 text-center">
        <h2><strong> {{.heading}} </strong></h2>
      </div>
      <div class="is-size-4">
        <p>{{.text}}</p>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="column is-3">
      <div class="spacer-x2"></div>
      <img src="{{.image}}" alt="" class="mb3">
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <div class="tc dark-blue-text">
        <a href="{{.buttonLink}}" class="button is-warning">
          <strong>{{.buttonText}}</strong></a>
      </div>
      <div class="spacer"></div>
    </div>
  </div>
</div>