<div class="spacer"></div>
<section class="hero is-medium heon-background-green main-banner-section" style="height: 360px;">
  <div class="columns">
    <div class="column is-9" style="padding: 0px;">
      <div id="slides">
        <div class="slide showing banner-slide" style="background-image: url('{{.slide_1}}'); background-position-y: 35%;">
        </div>
        <div class="slide banner-slide" style="background-image: url('{{.slide_2}}'); background-position-y: 35%;">
        </div>
        <div class="slide banner-slide" style="background-image: url('{{.slide_3}}'); background-position-y: 35%;">
        </div>
      </div>
    </div>
    <div class="column is-3" style="padding: 0px; height: 348px;">
      <div class="main-caption-section text-white" style="height: 348px;">
        <div class="main-caption-text caption-green level-3">
          {{.caption_1}}
        </div>
        <div class="main-caption-text caption-red level-2">
          {{.caption_2}}
        </div>
        <div class="main-caption-text caption-yellow level-1">
          {{.caption_3}}
        </div>
      </div>
    </div>
  </div>
</section>
