<div class="spacer heon-background-blue"></div>
<div class="container heon-background-blue main-banner-section" style="height: 360px; box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;">
  <div class="columns">
    <div class="column is-8" style="padding: 0px;">
      <div id="slides">
        <div class="slide showing banner-slide" style="background-image: url('{{.slide_1}}'); background-position-y: 35%;">
        </div>
        <div class="slide banner-slide" style="background-image: url('{{.slide_2}}'); background-position-y: 35%;">
        </div>
        <div class="slide banner-slide" style="background-image: url('{{.slide_3}}'); background-position-y: 35%;">
        </div>
      </div>
    </div>
    <div class="column is-4" style="padding: 0px; height: 348px;">
      <div class="main-caption-section text-white" style="height: 348px;">
        <div class="main-caption-text caption-blue level-3">
          <p>{{.caption_1}}</p>
        </div>
        <div class="main-caption-text caption-red level-2">
          <p>{{.caption_2}}</p>
        </div>
        <div class="main-caption-text caption-yellow level-1" style="color: #325ac7;">
          <p>{{.caption_3}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spacer-x2 is-hidden-tablet"></div>
<div class="spacer-x2 is-hidden-tablet">
  <i class="fas fa-graduation-cap is-size-2 text-left" style="width: 33%; color: #0466d4;"></i>
  <i class="fas fa-graduation-cap is-size-2 text-center" style="width: 30%; color: #0466d4;"></i>
  <i class="fas fa-graduation-cap is-size-2 text-right" style="width: 33%; color: #0466d4;"></i>
</div>
<div class="spacer-x2 is-hidden-tablet"></div>

