{{ define "main" }}

<div class="ph3 heon-background-blue">
	<div class="center mw6 pv3 text-white">

		<div>
		  <div class="spacer"></div>
		  <div class="columns">
		    <div class="column">
		      <div class="is-flex-center">
		        <p class="is-size-3 text-white text-center">Contact Us</p>
		      </div>
		    </div>
		  </div>
		  <div class="spacer"></div>
		</div>

		{{ .Content }}
		{{ partial "contact-form" . }}

	</div>
	<div class="spacer-x2"></div>
	<div class="spacer-x2"></div>
</div>

{{ end }}
