{{ define "main" }}

<div class="heon-background-blue">
  <div class="container text-white" style="min-height: calc(90vh);">
    <div style="min-height: calc(10vh);"></div>
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div style="display: block;">
          <div class="text-center">
            <div class="is-size-3">
              <h1>ABOUT THE HEON PROJECT GRENADA</h1>
            </div>
            <div class="spacer"></div>
            <img src="img/heon-project-small-logo.png" alt="" class="mb3">
            <div class="spacer x2"></div>
            <div class="is-size-5" style="line-height: 1.5em">
              {{ range .Pages.ByPublishDate.Reverse }}
                  <p>{{ .Params.about_part_1}}</p>
                <br>
                  <p>{{ .Params.about_part_2}}</p>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="min-height: calc(10vh);"></div>
  </div>
  <div class="spacer-x2"></div>
  <div class="spacer-x2"></div>
</div>


{{end}}